{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking_main.css') }}">
{% endblock %}

{% block content %}
<div id="bookingContainer" class="container">
    <div class="booking-steps">
        <div id="bookingStep1" class="booking-step active-step">
            <strong>01<br>상영시간</strong>
        </div>
        <div id="bookingStep2" class="booking-step">
            <strong>02<br>인원/좌석</strong>
        </div>
        <div id="bookingStep3" class="booking-step">
            <strong>03<br>결제</strong>
        </div>
        <div id="bookingStep4" class="booking-step">
            <strong>04<br>결제완료</strong>
        </div>
    </div>
    <div class="booking-search-theaters">
        <div class="booking-search-title">영화관</div>
        <div class="booking-search-theaters-list">
            <div id="bookingLocationsList">
                <ul>
                    {% for region in regions %}
                    {% if region.name == '서울' %}
                    <li class="active-theater">{{ region.name }} ({{ region.theater_count }}) <span class="material-symbols-outlined">check_small</span></li>
                    {% else %}
                    <li>{{ region.name }} ({{ region.theater_count }}) <span class="material-symbols-outlined">check_small</span></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="bookingTheatersList">
                <ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="booking-search-movies">
        <div class="booking-search-title">영화 선택</div>
        <div class="booking-search-movies-list">
{#            <div class="booking-search-movies-filter">filter</div>#}
            <div id="bookingMoviesList">
                <div class="booking-movies-none">
                    <span class="material-symbols-outlined">movie_off</span>
                    <p>영화관을 선택해 주시기 바랍니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="booking-search-schedules">
        <div class="booking-search-title">상영 일정</div>
        <div id="bookingScheduleDatePicker" class="swiper">
            <div class="swiper-wrapper">
                {% for week in datepicker %}
                <div class="swiper-slide">
                    {% for i in week %}
                    <div id="date_{{ i.full_date }}"
                         class="booking-button
                            {% if i.is_red %}booking-holiday{% endif %}
                            {% if i == week[0] %}active-date{% endif %}">
                        <p class="booking-month">{{ i.month }}</p>
                        <p class="booking-date">{{ i.date }}</p>
                        <p class="booking-day">{{ i.day }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div id="bookingSchedulesList">
            <div class="booking-schedules-none">
                <span class="material-symbols-outlined">calendar_check</span>
                <p>현재 선택하신 날짜의<br>상영 시간표를 준비하고 있습니다.</p>
            </div>
        </div>
    </div>
    <form action="{{ url_for('booking.index') }}" method="get" id="selectScheduleForm">
        <input type="hidden" id="selected_region" name="selected_region" value="{{ selected_region or '' }}">
        <input type="hidden" id="selected_theater" name="selected_theater" value="{{ selected_theater or '' }}">
        <input type="hidden" id="selected_movie" name="selected_movie" value="{{ selected_movie or '' }}">
        <input type="hidden" id="selected_date" name="selected_date" value="{{ selected_date or '' }}">
        <input type="hidden" id="selected_schedule" name="selected_schedule" value="{{ selected_schedule or '' }}">
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    let sub_also_viewed = new Swiper('#bookingScheduleDatePicker', {
        navigation: {
            nextEl: '#bookingScheduleDatePicker .swiper-button-next',
            prevEl: '#bookingScheduleDatePicker .swiper-button-prev'
        },
        spaceBetween: 10
    });

    const regions = document.querySelectorAll("#bookingLocationsList li");
    const theaters = document.querySelectorAll("#bookingTheatersList li");
    const dates = document.querySelectorAll(".booking-button");
    const movies = document.querySelectorAll("#bookingMoviesList li");
    const schedules = document.querySelectorAll("#bookingSchedulesList .booking-schedule");
    let selected_region = document.getElementById("selected_region").value;
    let selected_theater = document.getElementById("selected_theater").value;
    let selected_movie = document.getElementById("selected_movie").value;
    let selected_date = document.getElementById("selected_date").value;
    let selected_schedule = document.getElementById("selected_schedule").value;

    async function loadTheaters() {
        selected_region = document.getElementById("selected_region").value;

        if (selected_region != this.innerText.split(" (")[0]) {
            fetch(`/booking/theaters/${this.innerText.split(" (")[0]}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const bookingTheatersList = document.querySelector("#bookingTheatersList ul");
                    bookingTheatersList.innerHTML = '';

                    data.forEach(theater => {
                        const li = document.createElement('li');
                        li.id = `theater_${ theater.id }`;
                        li.innerHTML = `${ theater.name } <span class="material-symbols-outlined">check_small</span>`;
                        li.addEventListener("click", loadMovies);
                        bookingTheatersList.appendChild(li);
                    })
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });

            document.getElementById("selected_region").value = this.innerText.split(" (")[0];
            document.getElementById("selected_theater").value = '';
            document.getElementById("selected_movie").value = '';
            document.getElementById("selected_schedule").value = '';

            const activeRegion = document.querySelector('#bookingLocationsList .active-theater');
            if (activeRegion) activeRegion.classList.remove('active-theater');
            this.classList.add('active-theater');

            const bookingMoviesList = document.querySelector("#bookingMoviesList");
            bookingMoviesList.innerHTML = `<div class="booking-movies-none">
                <span class="material-symbols-outlined">movie_off</span>
                <p>영화관을 선택해 주시기 바랍니다.</p>
            </div>`;

            const bookingSchedulesList = document.querySelector("#bookingSchedulesList");
            bookingSchedulesList.innerHTML = `<div class="booking-schedules-none">
                <span class="material-symbols-outlined">calendar_check</span>
                <p>현재 선택하신 날짜의<br>상영 시간표를 준비하고 있습니다.</p>
            </div>`;
        }
    }

    async function loadMovies() {
        if (document.getElementById("selected_region").value == '') document.getElementById("selected_region").value = '서울';
        selected_region = document.getElementById("selected_region").value;
        selected_theater = document.getElementById("selected_theater").value;

        if (selected_theater != this.id.split("_")[1]) {
            fetch(`/booking/movies/${this.id.split("_")[1]}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const bookingMoviesList = document.querySelector("#bookingMoviesList");
                    bookingMoviesList.innerHTML = '';

                    if (data.length === 0) {
                        bookingMoviesList.innerHTML = `<div class="booking-movies-none">
                            <span class="material-symbols-outlined">movie_off</span>
                            <p>영화관을 선택해 주시기 바랍니다.</p>
                        </div>`;
                        return;
                    }
                    const ul = document.createElement('ul');
                    data.forEach(movie => {
                        const li = document.createElement('li');
                        li.id = `movie_${ movie.id }`;
                        li.innerHTML = `<img src="${ movie.poster_url }" alt="movie poster">
                            <div class="movie-info">
                                <div class="movie-title">
                                    <div class="movie-rating rating-${ String(movie.rating).toLowerCase() }"></div>
                                    <p>${ movie.title }</p>
                                    <span class="material-symbols-outlined">check_small</span>
                                </div>
                                <p class="movie-runtime"><span class="material-symbols-outlined">schedule</span> ${ movie.runtime }분</p>
                                <p class="movie-release"><span>개봉일</span> ${ movie.created_at }</p>
                            </div>`;
                        li.addEventListener("click", loadSchedules);
                        ul.appendChild(li);
                    });
                    bookingMoviesList.appendChild(ul);
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });

            document.getElementById("selected_theater").value = this.id.split("_")[1];
            document.getElementById("selected_movie").value = '';
            document.getElementById("selected_schedule").value = '';

            const activeTheater = document.querySelector('#bookingTheatersList .active-theater');
            if (activeTheater) activeTheater.classList.remove('active-theater');
            this.classList.add('active-theater');

            const bookingSchedulesList = document.querySelector("#bookingSchedulesList");
            bookingSchedulesList.innerHTML = `<div class="booking-schedules-none">
                <span class="material-symbols-outlined">calendar_check</span>
                <p>현재 선택하신 날짜의<br>상영 시간표를 준비하고 있습니다.</p>
            </div>`;
        }
    }

    async function loadSchedules() {
        let change_type = 'movie';
        if (this.id.split("_")[0] == 'date') change_type = 'date';

        selected_region = document.getElementById("selected_region").value;
        selected_theater = document.getElementById("selected_theater").value;
        selected_movie = document.getElementById("selected_movie").value;
        selected_date = document.getElementById("selected_date").value;

        let fetch_url = '';
        if (change_type == 'movie') fetch_url = `/booking/schedules/${selected_theater || '0'}/${this.id.split("_")[1]}/${selected_date || '0'}`
        else fetch_url = `/booking/schedules/${selected_theater || '0'}/${selected_movie || '0'}/${this.id.split("_")[1]}`

        if ((change_type == 'movie' && selected_movie != this.id.split("_")[1]) ||
            (change_type == 'date' && selected_date != this.id.split("_")[1])) {
            fetch(fetch_url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const bookingSchedulesList = document.querySelector("#bookingSchedulesList");
                    bookingSchedulesList.innerHTML = '';

                    if (data.length === 0) {
                        bookingSchedulesList.innerHTML = `<div class="booking-schedules-none">
                            <span class="material-symbols-outlined">calendar_check</span>
                            <p>현재 선택하신 날짜의<br>상영 시간표를 준비하고 있습니다.</p>
                        </div>`;
                        return;
                    }
                    data.forEach(schedule => {
                        const scheduleDiv = document.createElement('div');
                        scheduleDiv.id = `schedule${ schedule.id }`;
                        scheduleDiv.classList.add('booking-schedule');
                        scheduleDiv.innerHTML = `<p class="booking-schedule-time">${ schedule.showtime }</p>
                            <div class="booking-schedule-seats">
                                <p><span>120</span>/<span>${ schedule.total_seats }</span></p>
                                <p>${ schedule.auditorium }</p>
                            </div>`;
                        bookingSchedulesList.appendChild(scheduleDiv);
                    });
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
        }
        if (change_type == 'movie') {
            document.getElementById("selected_movie").value = this.id.split("_")[1];
            const activeMovie = document.querySelector('#bookingMoviesList .active-movie');
            if (activeMovie) activeMovie.classList.remove('active-movie');
            this.classList.add('active-movie');
        }
        else {
            document.getElementById("selected_date").value = this.id.split("_")[1];
            const activeDate = document.querySelector('#bookingScheduleDatePicker .active-date');
            if (activeDate) activeDate.classList.remove('active-date');
            this.classList.add('active-date');
        }
        document.getElementById("selected_schedule").value = '';
    }

    window.addEventListener("load", function() {
        fetch(`/booking/theaters/서울`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const bookingTheatersList = document.querySelector("#bookingTheatersList ul");
                bookingTheatersList.innerHTML = '';

                data.forEach(theater => {
                    const li = document.createElement('li');
                    li.id = `theater_${ theater.id }`;
                    li.innerHTML = `${ theater.name } <span class="material-symbols-outlined">check_small</span>`;
                    li.addEventListener("click", loadMovies);
                    bookingTheatersList.appendChild(li);
                })
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });

        document.getElementById("selected_region").value = '서울';
        document.getElementById("selected_theater").value = '';
        document.getElementById("selected_movie").value = '';
        document.getElementById("selected_date").value = new Date().toISOString().split('T')[0];
        document.getElementById("selected_schedule").value = '';
    });

    regions.forEach(region => {
        region.addEventListener("click", loadTheaters);
    });

    dates.forEach(date => {
        date.addEventListener("click", loadSchedules);
    });

    {#schedules.forEach(schedule => {#}
    {#    schedule.addEventListener("click", function() {#}
    {#        document.getElementById("selected_schedule").value = this.id.split("_")[1];#}
    {#        document.getElementById("selectScheduleForm").submit();#}
    {#    });#}
    
</script>

{% endblock %}