.question-row {
    display: flex;
    align-items: center;
    gap: 1cm;
}

.page-link {
    /*color: #e60012;*/
    color: #333;
}

.page-link:hover {
    color: #cc0010;
}

.page-item.active .page-link{
    background-color: #e60012;
    border-color: #e60012;
    color: #ffffff;
}


