.signup-field {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
}
.signup-field label {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.signup-field input {
    width: 400px;
    height: 40px;
}

.signup-button {
    width: calc(100% - 20px);
    max-width: 91px;
    height: 40px;
    background-color: #e60012;
    color: #fff;
    margin-top: 30px;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.signup-button:hover, .signup-button:active {
    background-color: #b8000f;
}

/*로그인*/
.page-bg {
    width:100%;
    background-color:#f2f2f2;
}
.login-left {
    width: calc(100% - 111px);
}
.login-right {
    width: 111px;
}
.login-btn {
    width: calc(100% - 20px);
    max-width: 91px;
    height: 91px;
    margin-left:20px;
    background-color:#e60012;
    color:#fff;
    border:none;
    border-radius: 5px;
}
.login-signup-btn {
    font-size:13px;
}
