<nav id="mainNav">
    <div class="main-nav-container">
        <a class="main-nav-logo" href="{{ url_for('main.index') }}"><img id="mainNavLogo" src="{{ url_for('static', filename='img/logo.png') }}"></a>
        <ul class="main-nav-list main-nav-list-start">
            <li>
                <a href="{{ url_for('main.index') }}">예매</a>
            </li>
            <li>
                <a href="{{ url_for('main.index') }}">상영시관표</a>
            </li>
            <li>
                <a href="{{ url_for('main.index') }}">고객센터</a>
            </li>
        </ul>
        <ul class="main-nav-list main-nav-list-end">
            {% if g.user %}
            <li>
                <a href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('auth.signup') }}">회원가입</a>
            </li>
            <li>
                <a href="{{ url_for('auth.login') }}">로그인</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>