{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
{% endblock %}

{% block content %}
<div class="page-inner">
    <div class="container pt-4 pb-5">
        <!--<h5 class="mb-3"><span class="fw-bold">{{ g.user.username }}님</span> 반가워요!</h5>-->
        <ul class="nav nav-underline border-bottom" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#res-tab-pane" type="button" role="tab" aria-controls="res-tab-pane" aria-selected="true">예매내역</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#cancel-tab-pane" type="button" role="tab" aria-controls="cancel-tab-pane" aria-selected="false">취소내역</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">회원정보</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="res-tab-pane" role="tabpanel" aria-labelledby="res-tab" tabindex="0">
                <div class="reservation-list-box">
                    <p class="py-3 text-center mb-0 reservation-info">최근 70일 이내의 정보만 조회가 가능합니다.</p>
                    <div class="reservation-list">
                    {% for r in reservations %}
                    <!-- 예매내역 -->
                    <div class="reservation-item">
                        <!-- 왼쪽 날짜 -->
                        <div class="reservation-date">
                            {{ r.schedule.showtime.strftime('%Y.%m.%d(%a)') }}
                        </div>
                        <!-- 타임라인 -->
                        <div class="timeline">
                            <span class="timeline-dot"></span>
                        </div>
                        <!-- 오른쪽 내용 -->
                        <div class="reservation-content">
                            <div class="accordion" id="reservationAccordion{{ loop.index }}">
                                <div class="accordion-item">
                                    <!-- 상단 -->
                                    <h2 class="accordion-header">
                                        <button
                                            class="accordion-button collapsed reservation-header"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#reservation{{ loop.index }}"
                                            aria-expanded="false"
                                            aria-controls="reservation{{ loop.index }}">
                                            <div class="reservation-summary">
                                                <div class="movie-title">
                                                    {{ r.schedule.movie.title }}
                                                </div>
                                                <div class="reservation-price">
                                                    {{ '{:,}'.format(r.total_amount) }}원
                                                </div>
                                                <div class="reservation-number">
                                                    예매번호 {{ r.order_id }}
                                                    {% if r.canceled_at %}<span class="text-danger">[예매 취소 완료됨]</span>{% endif %}
                                                </div>
                                            </div>
                                        </button>
                                    </h2>
                                    <!-- 상세 -->
                                    <div
                                        id="reservation{{ loop.index }}"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#reservationAccordion{{ loop.index }}">
                                        <div class="accordion-body">
                                            <div class="reservation-detail">
                                                <!-- 영화 정보 -->
                                                <div class="movie-info">
                                                    <img src="{{ r.schedule.movie.poster_url or 'https://placehold.co/300x430' }}" class="movie-poster" alt="영화 포스터">
                                                    <div class="movie-detail">
                                                        <div>
                                                            <span>상영일시</span>
                                                            <strong>{{ r.schedule.showtime.strftime('%Y.%m.%d(%a) %H:%M') }}</strong>
                                                        </div>
                                                        <div>
                                                            <span>상영관</span>
                                                            <strong>{{ r.schedule.auditorium.theater.name }} {{ r.schedule.auditorium.name }}</strong>
                                                        </div>
                                                        <div>
                                                            <span>관람인원</span>
                                                            <strong>{{ r.audience_count }}명</strong>
                                                        </div>
                                                        <div>
                                                            <span>좌석</span>
                                                            <strong>{{ r.seats }}</strong>
                                                        </div>
                                                        <div>
                                                            <span>거래번호</span>
                                                            <strong>{{ r.order_id }}</strong>
                                                        </div>
                                                    </div>
                                                    {% if not r.canceled_at %}
                                                    <form action="{{ url_for('mypage.cancel_reservation', reservation_id=r.id) }}" method="post" class="d-inline">
                                                        <button type="submit" class="reservation-cancel-btn btn btn-sm border">예매취소</button>
                                                    </form>
                                                    {% endif %}
                                                </div>
                                                <hr>
                                                <!-- 결제 정보 -->
                                                <div class="payment-info">
                                                    <div class="payment-date">
                                                        결제일시
                                                        <span>{{ r.paid_at.strftime('%Y-%m-%d %p %I:%M:%S') }}</span>
                                                    </div>
                                                    <div class="payment-row">
                                                        <div>
                                                            <span>주문금액</span>
                                                            <strong>{{ '{:,}'.format(r.order_amount) }}원</strong>
                                                        </div>
                                                        <div>
                                                            <span>할인금액</span>
                                                            <strong>{{ '{:,}'.format(r.discount_amount) }}원</strong>
                                                        </div>
                                                        <div>
                                                            <span>총 결제금액</span>
                                                            <strong class="text-danger">
                                                                {{ '{:,}'.format(r.total_amount) }}원
                                                            </strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
                <!--예매내역이 없을 경우-->
                {% if not reservations %}
                <div class="text-center py-5">
                    <p class="text-secondary mb-0">
                        예매내역이 없습니다.
                    </p>
                </div>
                {% endif %}
                <!--//예매내역이 없을 경우-->
          </div>
          <div class="tab-pane fade" id="cancel-tab-pane" role="tabpanel" aria-labelledby="cancel-tab" tabindex="0">
              <div class="py-3">
                <p class="reservation-info text-center">상영일 기준으로 7일간 확인이 가능합니다.</p>
                <div class="table-responsive">
                        <table class="mypage-table table">
                            <thead>
                                <tr class="table-light">
                                    <th class="text-center">취소일시</th>
                                    <th class="text-center">영화명</th>
                                    <th class="text-center">극장</th>
                                    <th class="text-center">상영일시</th>
                                    <th class="text-center">취소금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in canceled_reservations %}
                                <tr>
                                    <td class="text-center">{{ r.canceled_at.strftime('%Y.%m.%d(%a) %H:%M') }}</td>
                                    <td class="text-center">{{ r.schedule.movie.title }}</td>
                                    <td class="text-center">{{ r.schedule.auditorium.theater.name }} {{ r.schedule.auditorium.name }}</td>
                                    <td class="text-center">{{ r.schedule.showtime.strftime('%Y.%m.%d(%a) %H:%M') }}</td>
                                    <td class="text-center">{{ '{:,}'.format(r.total_amount) }}원</td>
                                </tr>
                                {% endfor %}
                                {% if not canceled_reservations %}
                                <tr>
                                    <td colspan="5" class="text-center">
                                        취소내역이 없습니다.
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
              </div>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <div class=" mt-4">
                    <div class="signup-field">
                        <label>아이디</label>
                        <input type="text" class="form-control" value="{{ g.user.username }}" readonly>
                    </div>
                    <div class="signup-field">
                        <label>이메일</label>
                        <input type="text" class="form-control" value="{{ g.user.email }}" readonly>
                    </div>
                    <div class="signup-field">
                        <label>연락처</label>
                        <input type="text" class="form-control" value="{{ g.user.contact }}" readonly>
                    </div>
                </div>
                <div class="text-end mt-3">
                    <button type="button" class="btn btn-link text-secondary p-0" data-bs-toggle="modal" data-bs-target="#withdrawModal">
                        회원탈퇴
                    </button>
                </div>
                <!--회원탈퇴 확인 모달창-->
                <div class="modal fade" id="withdrawModal" tabindex="-1"
                     aria-labelledby="withdrawModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- 모달 제목 -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="withdrawModalLabel">회원탈퇴</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                            </div>
                            <!-- 모달 내용 -->
                            <div class="modal-body">
                                <p class="mb-2">
                                    정말 회원탈퇴를 하시겠습니까?
                                </p>
                                <p class="text-secondary small mb-0">
                                    탈퇴 신청 후 7일이 지나면 계정이 삭제됩니다.
                                </p>
                            </div>
                            <!-- 버튼 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                <form action="{{ url_for('auth.withdraw') }}"
                                      method="post"
                                      class="d-inline">
                                    <button type="submit"
                                            class="btn btn-danger">
                                        회원탈퇴
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// 회원탈퇴 확인 모달창-->
          </div>
        </div>
    </div>
</div>
{% endblock %}