{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">회원가입</h5>
    <form method="post" novalidate>
        {{ form.csrf_token }}
        {% include 'form_errors.html' %}

        <div class="signup-field">
          {{ form.username.label }}
            {{ form.username(class='form-control') }}
        </div>

        <div class="signup-field">
            {{ form.email.label }}
            {{ form.email(class='form-control') }}
        </div>

        <div class="signup-field-password">
            {{ form.password1.label }}
            {{ form.password1(class='form-control') }}
        </div>

        <div class="signup-field">
            {{ form.password2.label }}
            {{ form.password2(class='form-control') }}
        </div>

        <div class="signup-field">
            {{ form.contact.label }}
            {{ form.contact(class='form-control') }}
        </div>

        {{ form.submit(class='btn btn-primary') }}
    </form>
</div>
{% endblock %}