{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notice.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/question_form.css') }}">
{% endblock %}

{% block content %}
<div class="container py-5 common-container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <!-- 질문 영역 -->
    <h4 class="mb-4">문의내용</h4>
    <table class="notice-table table mt-3 mb-0">
        <thead>
            <tr>
                <th class="notice-title px-3">{{ question.title }}</th>
            </tr>
            <tr class="table-light">
                <th class="d-flex px-3 justify-content-end">
                    <ul class="table-list1">
                        <li>{{ question.kind }}</li>
                        <li>글쓴이: {{ question.user.username }}</li>
                        <li>작성일: {{ question.created_at|datetime }}</li>
                        {% if question.updated_at %}
                        <li>수정일: {{ question.updated_at|datetime }}</li>
                        {% endif %}
                    </ul>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="p-3">
                    <div class="question-content-box" style="min-height:400px;">
                        {{ question.content }}
                        {% if question.image_path %}
                            {% for path in question.image_path.split(',') %}
                            <div class="my-3">
                                <img src="{{ url_for('static', filename=path) }}" alt="첨부 이미지"
                                 style="max-width: 100%; height: auto;" class="img-thumbnail">
                            </div>
                            {% endfor %}
                        {% endif %}

                        <div class="fix-btn-box">
                            {% if g.user == question.user %}
                            <a href="{{ url_for('question.modify', question_id=question.id) }}"
                                class="btn btn-sm btn-outline-secondary">수정</a>
                            <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                               data-uri="{{ url_for('question.delete', question_id=question.id) }}">삭제</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- 답변 목록 영역 -->
    <p class="answer-title border-bottom mt-4 py-2">{{ question.answers|length }}개의 답변이 있습니다.</p>
    {% for answer in question.answers %}
    <div class="card my-3">
        <div class="card-body answer_content-box">
            <div class="card-text" style="white-space: pre-line; min-height:60px;">{{ answer.content }}</div>

            <div class="fix-btn-box py-3 px-3">
                <div class="row">
                    <div class="col-3">
                        {% if g.user == answer.user %}
                        <a href="{{ url_for('answer.modify', answer_id=answer.id) }}"
                           class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                           data-uri="{{ url_for('answer.delete', answer_id=answer.id) }}">삭제</a>
                        {% endif %}
                    </div>
                    <div class="col-9 d-flex justify-content-end">
                        <ul class="table-list1">
                            <li>답변자: {{ answer.user.username }}</li>
                            <li>작성일: {{ answer.created_at|datetime }}</li>
                            {% if answer.updated_at %}
                            <li>수정일: {{ answer.updated_at|datetime }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- 답변 등록 폼 영역 -->
    <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post" class="my-3">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            {{ form.content(class='form-control', rows='10', disabled=(not g.user)) }}
        </div>
        <p class="text-end">
            {{ form.submit(class="common-button my-0", disabled=(not g.user)) }}
        </p>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    function updateCharCount(input) {
        const count = input.value.length;
        if (input.id === 'title') {
            document.getElementById('charCount').textContent = count;
        } else if (input.id === 'content') {
            document.getElementById('contentCount').textContent = count;
        }
    }

    function updateFileName(input) {
        if (input.files && input.files[0]) {
            document.getElementById('fileName').textContent = input.files[0].name;
        } else {
            document.getElementById('fileName').textContent = '선택된 파일 없음';
        }
    }

    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
             if(confirm("정말로 삭제하시겠습니까?")) {
               location.href = this.dataset.uri;
             };
        });
    });
</script>
{% endblock %}